/* Effet spécifique pour les icônes colorées */
.iconColored {
    filter: invert(65%) sepia(21%) saturate(1486%) hue-rotate(313deg) brightness(101%) contrast(96%);
    transition: all 0.3s ease;
}

.nav-link:hover .iconColored {
    filter: invert(25%) sepia(10%) saturate(786%) hue-rotate(314deg) brightness(95%) contrast(85%);
    transform: scale(1.15);
}

/* Effet de survol pour les icônes */
.nav-link img {
    transition: all 0.3s ease;
}

.nav-link:hover img {
    transform: scale(1.15);
    filter: brightness(1.2);
}

/* Styles pour ajuster la barre de navigation */
.navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-brand img {
    max-height: 70px;
    
}

/* Style pour les liens de navigation */
.nav-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-nav-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav-row {
    width: 100%;
    padding-top: 0.5rem;
}

.nav-link, .dropdown-item {
    color: #f4887e;
}

.nav-link:hover, .dropdown-item:hover {
    color: #403f3f;
}
