/* img */
.img-circle {
    border: 2px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

/* contour du cercle  */
.circle {
    background-color : #f4887e78;
    border: 2px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}